.full-height{
    height: 100vh;
}

.full-rounded-xl{
    border-radius: 20px;
}

.rounded-xl-top-left{
    border-top-left-radius: 20px;
}

.rounded-xl-top-right{
    border-top-right-radius: 20px;
}

.rounded-xl-bottom-left{
    border-bottom-left-radius: 20px;
}

.rounded-xl-bottom-right{
    border-bottom-right-radius: 20px;
}

