// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lime: #c7ef00;
$brown: #4d1803;
$dark-lime: #b5d601;
$gold: #a2ba02;

$pagination-color: $lime;
$pagination-bg: $brown;
$pagination-active-bg: $lime;
$pagination-active-color: $brown;
$pagination-hover-bg: $dark-lime;
$pagination-hover-color: $brown;

$theme-colors: ("primary": $lime, "secondary": $brown, "info": $dark-lime, "danger": $red, "dark": #41464b, "warning": coral);

// Misures
$border-radius-to-search-bar: 24px;
