header{
  border-bottom: 1px solid $brown;
}

.user-aside{
  width: 200px;

  a{
    padding: 30px 0;
  }
}

.messages-card{
  max-height: 800px;
  overflow: auto;
}



.logout{
  position: absolute;
  bottom:0;

  .user-button{
  border: 0;
  background: none;
  padding-right:0;
}
}

.map{
  border: 8px solid $brown;
}

@media screen and (max-width: 540px) {

  .logo-text{
    display: none;
  }
  .user-aside{
    width: 60px;

    .aside-item{
      display:none;
    }
  }
}